<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{$config['SITE_TITLE']}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Link Swiper's CSS -->

    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/foot.css">

    <link rel="stylesheet" href="__CSS__/head.css">
    <link rel="stylesheet" href="__ICON__/iconfont.css">
    <script type="text/javascript" src="__JS__/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="__JS__/jquery.touchSlider.js"></script>
    <!-- Demo styles -->
    <script type="text/javascript" src="__LAYERJS__/layer.js"></script>
	<script>
$(function(){
    $('.btn_style1').click(function(){
	//点击a标签
		    $(this).parents('.allder_nr').find('.detail').toggle();
    })
})
</script>
<style type="text/css">
	input{
		border: none;
	}
</style>
</head>
<body>
<div class="header">
    <div class="header_l">
      <a href="{:U('member/mine')}"><img src="__IMG__/lpg.png" alt=""><span>购买订单</span></a>

    </div>
    <div class="header_c"><h1></h1></div>
    
</div>
<div class="allder">
  <ul>
  <li <if condition="$s eq 'dede'">class="dianjb"</if> ><a href="{:U('Member/allorder',array('s'=>'5'))}">全部订单</a></li>
    <li <if condition="$s eq '0'">class="dianjb"</if> ><a href="{:U('Member/allorder',array('s'=>0))}">待付款</a></li>
    <li <if condition="$s eq '1'">class="dianjb"</if>><a href="{:U('Member/allorder',array('s'=>1))}">待发货</a></li>
    <li <if condition="$s eq '2'">class="dianjb"</if>><a href="{:U('Member/allorder',array('s'=>2))}">待收货</a></li>
    <li <if condition="$s eq '3'">class="dianjb"</if>><a href="{:U('Member/allorder',array('s'=>3))}">已完成</a></li>

  </ul>
  <div style="clear: both;"></div>
</div>
<div style="background: #f4f4f4;height: 2vmin;"></div>

<foreach name="orderList" item="order">

    <!-- 未支付 -->
    <if condition="$order['status'] eq 0">
          <div class="allder_nr">
            <p class="dain">未付款</p>
            <div style="clear: both;"></div>
              <?php
                   $allProductNum = 0;
                   $allProductPrice =0;
              ?>
              <foreach name="order['detail']" item="detail">
                  <?php
                        $allProductNum = $allProductNum + $detail['com_num'];
                        $allProductPrice = $allProductPrice+$detail['com_num']*$detail['com_price'];
                   ?>

            <div class="ddcontent">
                <div class="content_l">
                  <img src="{$detail['com_img']}" alt="">
                </div>
                <div class="content_r">
                  <div class="content_rt">
                    <h3 onClick="window.location.href='{:U('Home/details',array('proid'=>$detail['com_id']))}'">{$detail['com_name']}</h3>
                    <div class="jaind">
                      <p>￥{$detail['com_price']}</p>
                      <p>x{$detail['com_num']}</p>
                    </div>
                  </div>
                </div>
                <div style="clear: both;"></div>
            </div>
              </foreach>
            <div class="total" style="margin-bottom:10vmin">
              <p>共计{$allProductNum+0}商品 <span>合计：￥{$allProductPrice+0}</span></p>
        <input type="hideen" id="order_id" value="{$details.order_id}" style="width: 50px;">

              <a href="javascript:void(0)" onClick="window.location.href='/Shop/Pay/index/oid/{$detail['order_id']}'" class="btn_style2">立即支付</a>
			  <a href="javascript:void(0)" class="btn_style1" id="show_odetail">查看详情</a>
        <a href='{:U("Member/del_order","id=$order[order_id]")}' class="btn_style1">删除</a>
            </div>
			<!--订单详情-->
			<div id="o_detail" class="detail" style="display:none;" >
				<div class="totalorder">
					<p>订单号：{$order['order_no']}</p>
					<p>下单时间：{$order['time']|date="Y-m-d H:i:s",###}</p>				
				</div>
			</div>

            <div style="clear: both;"></div>
            </div>
			
          <div style="background: #f4f4f4;height: 2vmin;margin-top: 3vmin;"></div>
        <!-- 已支付 -->
      <elseif condition="$order['status'] eq 1"/>
            <div class="allder_nr">
            <p class="dain">等待卖家发货</p>
            <div style="clear: both;"></div>
                <?php
                   $allProductNum = 0;
                   $allProductPrice =0;
                ?>
                <foreach name="order['detail']" item="detail">
                    <?php
                        $allProductNum = $allProductNum + $detail['com_num'];
                        $allProductPrice = $allProductPrice+$detail['com_num']*$detail['com_price'];
                   ?>
            <div class="ddcontent">
                <div class="content_l">
                  <img src="{$detail['com_img']}" alt="">
                </div>
                <div class="content_r">
                  <div class="content_rt">
                    <h3 onClick="window.location.href='{:U('Home/details',array('proid'=>$detail['com_id']))}'">{$detail['com_name']}</h3>
                    <div class="jaind">
                      <p>￥{$detail['com_price']}</p>
                      <p>x{$detail['com_num']}</p>
                    </div>
                  </div>
                </div>
                <div style="clear: both;"></div>
            </div>
            
                
            <div class="total">
                <p>共计{$allProductNum+0}商品 <span>合计：￥{$allProductPrice+0}</span></p>
				<a href="javascript:void(0)" onClick="remind()">提醒发货</a>
				<a href="javascript:void(0)" class="btn_style1" id="show_odetail">订单详情</a>
            </div>
					
                
		  
		<!--订单详情-->
		
		  <div id="o_detail" class="detail" style="display:none; position:static; padding:0px;" >
			<div class="totalorder" style="padding-top:50px;">
				<p>订单号：{$order['order_no']}</p>
				<p>下单时间：{$order['time']|date="Y-m-d H:i:s",###}</p>
				
			</div>
		  </div>
		  <div style="clear: both;"></div>
          </div>  
					
        </foreach>
          <!-- 已发货 -->
        <elseif condition="$order['status'] eq 2"/>
              <div class="allder_nr">
              <p class="dain">卖家已发货</p>
              <div style="clear: both;"></div>
                  <?php
                   $allProductNum = 0;
                   $allProductPrice =0;
                ?>
                  <foreach name="order['detail']" item="detail">
                      <?php
                        $allProductNum = $allProductNum + $detail['com_num'];
                        $allProductPrice = $allProductPrice+$detail['com_num']*$detail['com_price'];
                   ?>
              <div class="ddcontent">
                  <div class="content_l">
                    <img src="{$detail['com_img']}" alt="">
                  </div>
                  <div class="content_r">
                    <div class="content_rt">
                      <h3 onClick="window.location.href='{:U('Home/details',array('proid'=>$detail['com_id']))}'">{$detail['com_name']}</h3>
                      <div class="jaind">
                        <p>￥{$detail['com_price']}</p>
                        <p>x{$detail['com_num']}</p>
                      </div>
                    </div>
                  </div>
                  <div style="clear: both;"></div>
              </div>
                  </foreach>
              <div class="total">
                  <p>共计{$allProductNum+0}商品 <span>合计：￥{$allProductPrice+0}</span></p>				 
                <a order-id="{$detail['order_id']}" class="Confirmad">确认收货</a>
                <a href="{:U('Member/stics',array('order_id'=>$order['order_id']))}" >查看物流</a>
              </div>
			 <div style="background: #f4f4f4;height: 2vmin;margin-top: 13vmin;"></div>
				<div class="totalorder">
					<p>订单号：{$order['order_no']}</p>
					<p>下单时间：{$order['time']|date="Y-m-d H:i:s",###}</p>				
				</div>
            <div style="clear: both;"></div>
            </div>
            <div style="background: #f4f4f4;height: 2vmin;margin-top: 3vmin;"></div>
        <!-- 交易完成 -->
        <elseif condition="$order['status'] eq 3"/>
            <div class="allder_nr">
          <p class="dain">交易完成</p>
          <div style="clear: both;"></div>
                <?php
                   $allProductNum = 0;
                   $allProductPrice =0;
                ?>
                <foreach name="order['detail']" item="detail">
                    <?php
                        $allProductNum = $allProductNum + $detail['com_num'];
                        $allProductPrice = $allProductPrice+$detail['com_num']*$detail['com_price'];
                   ?>
          <div class="ddcontent">
              <div class="content_l">
                <img src="{$detail['com_img']}" alt="">
              </div>
              <div class="content_r">
                <div class="content_rt">
                  <h3 onClick="window.location.href='{:U('Home/details',array('proid'=>$detail['com_id']))}'">{$detail['com_name']}</h3>
                  <div class="jaind">
                    <p>￥{$detail['com_price']}</p>
                    <p>x{$detail['com_num']}</p>
                  </div>
                </div>
              </div>
              <div style="clear: both;"></div>
          </div>
                </foreach>
          <div class="total">
              <p>共计{$allProductNum+0}商品 <span>合计：￥{$allProductPrice+0}</span></p>
           
          </div>

        <div style="clear: both;"></div>
        </div>
        <div style="background: #f4f4f4;height: 2vmin;margin-top: 3vmin;"></div>
      <else/>

      </if>
</foreach>






<!-- 提醒发货 -->
<div id="light" class="white_contentbb">
    <p>你已经提醒卖家发货啦！</p>
</div>

</body>
</html>
<!--确认收货按钮-->
<script>
    function remind() {
        $("#light").show('2000',function () {
            setTimeout(function() {
                $("#light").hide();
            },1000);
        });
    }




    $('.Confirmad').click(function () {
        var orderid = $(this).attr('order-id');
        layer.confirm('确定要收货吗？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                url: "/Shop/Member/Confirmad",
                type: "post",
                data: {'orderid': orderid},
                datatype: "json",
                success: function (mes) {
                    if (mes.status == 1) {
                        layer.msg(mes.info, {icon: 1});
                        setTimeout(function(){location.reload()},1000);
                    } else {
                        layer.msg(mes.info, {icon: 2});
                    }
                }
            })
        });
    })
</script>