<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{$product['name']}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Link Swiper's CSS -->

    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/foot.css">

    <link rel="stylesheet" href="__CSS__/head.css">
    <link rel="stylesheet" href="__ICON__/iconfont.css">
    <script type="text/javascript" src="__JS__/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="__JS__/jquery.touchSlider.js"></script>

    <!--弹框JS-->
    <script type="text/javascript" src="__RZCSS__/layer.js"></script>
    <!-- Demo styles -->
    <script type="text/javascript">
        $(document).ready(function(){

            $(".main_visual").hover(function(){
                $("#btn_prev,#btn_next").fadeIn()
            },function(){
                $("#btn_prev,#btn_next").fadeOut()
            });

            $dragBln = false;

            $(".main_image").touchSlider({
                flexible : true,
                speed : 200,
                btn_prev : $("#btn_prev"),
                btn_next : $("#btn_next"),
                paging : $(".flicking_con a"),
                counter : function (e){
                    $(".flicking_con a").removeClass("on").eq(e.current-1).addClass("on");
                }
            });

            $(".main_image").bind("mousedown", function() {
                $dragBln = false;
            });
          

            $(".main_image").bind("dragstart", function() {
                $dragBln = true;
            });

            $(".main_image a").click(function(){
                if($dragBln) {
                    return false;
                }
            });

            timer = setInterval(function(){
                $("#btn_next").click();
            }, 5000);

            $(".main_visual").hover(function(){
                clearInterval(timer);
            },function(){
                timer = setInterval(function(){
                    $("#btn_next").click();
                },5000);
            });

            $(".main_image").bind("touchstart",function(){
                clearInterval(timer);
            }).bind("touchend", function(){
                timer = setInterval(function(){
                    $("#btn_next").click();
                }, 5000);
            });


            $("#color_ul li").click(function(){
                $("#color_ul").attr("data-str",$(this).html());

                $("#color_ul li").each(function(i,v){
                    $(this).removeClass('selColor');
                });

                $(this).addClass('selColor');
            });

            $("#size_ul li").click(function(){
                $("#size_ul").attr("data-str",$(this).html());
                $("#size_ul li").each(function(i,v){
                    $(this).removeClass('selSize');
                });

                $(this).addClass('selSize');
            });

            $("#type_ul li").click(function(){
                $("#type_ul").attr("data-str",$(this).html());
                $("#type_ul li").each(function(i,v){
                    $(this).removeClass('selSize');
                });

                $(this).addClass('selSize');
            });

            $(".jia").click(function(){
                var n = $("#bnum").val();
                n++;
                $("#bnum").val(n);
            });

            $(".jian").click(function(){
                var n = $("#bnum").val();
                if(n<=1) return;
                n--;
                $("#bnum").val(n);

            });

            /*加入购物车*/
            $("#join_car").click(function(){
                var nv = $("#bnum").val();
                var sv = $("#size_ul").attr("data-str");
                var cv = $("#color_ul").attr("data-str");
                var pv = $("body").attr("data-id");

				var parameter = $("div[style='float: left; margin-right: 30px; border: 1px solid orange;']").children('p').text();
                var parameter = parameter.substring(1);

                var type = $("div[style='float: left; margin-right: 30px; border: 1px solid orange;']").children('div').text();

                if(nv==""||nv==null){
                    layer.msg('购买数量不正确', {shift: -1, time: 1200}, function () {
                    });
                    return;
                }

                var chima = $('.chima').val();
                var yanse = $('.yanse').val();
                var jifentype = $('.jifentype').val();

                if(chima != undefined){
                    if(chima != ''){
                        if(sv==""||sv==null){
                            layer.msg('请选择尺寸', {shift: -1, time: 1200}, function () {
                            });
                            return;
                        }
                    }
                }
                if(yanse != undefined){
                    if(yanse != ''){
                        if(cv==""||cv==null){
                            layer.msg('请选择颜色', {shift: -1, time: 1200}, function () {
                            });
                            return;
                        }
                    }
                }

                if(pv==""||pv==null){
                    layer.msg('缺少购买参数', {shift: -1, time: 1200}, function () {
                    });
                    return;
                }
                $.post("/Shop/Home/addCar",{p:pv,n:nv,s:sv,c:cv,price:parameter,type:type},function(data){
                    if(data.status == 0){
                        layer.msg(data.info, {shift: -1, time: 1200}, function () {
                            $("#params_show").hide();
                            $("#details_show").show();
                        });
                    }else if(data.status == 1){
                        layer.msg(data.info, {shift: -1, time: 1200}, function () {
                            $("#params_show").hide();
                            $("#details_show").show();
                        });
                    }else{
                        layer.msg(data.info, {shift: -1, time: 1200}, function () {
                            $("#params_show").hide();
                            $("#details_show").show();
                            window.location.href='/shop/personal/login';
                        });
                    }
                },"json");

            });

            $("#jia_car").click(function(){
                var nv = $("#bnum").val();
                var sv = $("#size_ul").attr("data-str");
                var cv = $("#color_ul").attr("data-str");
                var pv = $("body").attr("data-id");

				var parameter = $("div[style='float: left; margin-right: 30px; border: 1px solid orange;']").children('p').text();
                var parameter = parameter.substring(1);

                var type = $("div[style='float: left; margin-right: 30px; border: 1px solid orange;']").children('div').text();

                if(nv==""||nv==null){
                    layer.msg('购买数量不正确', {shift: -1, time: 1200}, function () {
                    });
                    return;
                }

                var chima = $('.chima').val();
                var yanse = $('.yanse').val();
                var jifentype = $('.jifentype').val();

                if(chima != undefined){
                    if(chima != ''){
                        if(sv==""||sv==null){
                            layer.msg('请选择尺寸', {shift: -1, time: 1200}, function () {
                            });
                            return;
                        }
                    }
                }
                if(yanse != undefined){
                    if(yanse != ''){
                        if(cv==""||cv==null){
                            layer.msg('请选择颜色', {shift: -1, time: 1200}, function () {
                            });
                            return;
                        }
                    }
                }

                if(pv==""||pv==null){
                    layer.msg('缺少购买参数', {shift: -1, time: 1200}, function () {
                    });
                    return;
                }
                $.post("/Shop/Home/addCar",{p:pv,n:nv,s:sv,c:cv,price:parameter,type:type},function(data){
                    if(data.status == 0){
                        layer.msg(data.info, {shift: -1, time: 1200}, function () {
                            $("#params_show").hide();
                            $("#details_show").show();
                        });
                    }else if(data.status == 1){
                        layer.msg(data.info, {shift: -1, time: 1200}, function () {
                            $("#params_show").hide();
                            $("#details_show").show();
                        });
                    }else{
                        layer.msg(data.info, {shift: -1, time: 1200}, function () {
                            $("#params_show").hide();
                            $("#details_show").show();
                            window.location.href='/shop/personal/login';
                        });
                    }
                },"json");

            });

            /*立即购买*/
            $("#buy_now").click(function(){
                var nv = $("#bnum").val();
                var sv = $("#size_ul").attr("data-str");
                // var cv = $("#color_ul").attr("data-str");
                var cv = $("#show_type").text();
//                /*积分分类*/
//                var jtype = $("#type_ul").attr("data-str");

                var pv = $("body").attr("data-id");
                console.log(nv,sv,cv,pv);

                if(nv==""||nv==null){
                    layer.msg('购买数量不正确', {shift: -1, time: 1200}, function () {
                    });
                    return;
                }

                var chima = $('.chima').val();
                var yanse = $('.yanse').val();
                var jifentype = $('.jifentype').val();

                if(chima != undefined){
                    if(chima != ''){
                        if(sv==""||sv==null){
                            layer.msg('请选择尺寸', {shift: -1, time: 1200}, function () {
                            });
                            return;
                        }
                    }
                }
                if(yanse != undefined){
                    if(yanse != ''){
                        if(cv==""||cv==null){
                            layer.msg('请选择颜色', {shift: -1, time: 1200}, function () {
                            });
                            return;
                        }
                    }
                }

                if(pv==""||pv==null){
                    layer.msg('缺少购买参数', {shift: -1, time: 1200}, function () {
                    });
                    return;
                }

                $.post("/Shop/Car/buynow",{p:pv,n:nv,s:sv,c:cv},function(data){
                    if(data.status == 1){
                        layer.msg(data.info, {shift: -1, time: 1200}, function () {
                            $("#params_show").hide();
                            $("#details_show").show();
                            location.href = "{:U('Shop/Home/order')}";
                        });
                    }else{
                        layer.msg(data.info, {shift: -1, time: 1200}, function () {
                        });
                    }

                },"json");
            });

            $('.ffr').click(function () {
                var nv = $("#bnum").val();
                var sv = $("#size_ul").attr("data-str");
                var cv = $("#color_ul").attr("data-str");
                var pv = $("body").attr("data-id");
                /*积分分类*/
                var jtype = $("#type_ul").attr("data-str");

                if(nv==""||nv==null){
                    layer.msg('购买数量不正确', {shift: -1, time: 1200}, function () {
                    });
                    return;
                }
                if(sv==""||sv==null){
                    layer.msg('请选择尺寸', {shift: -1, time: 1200}, function () {
                    });
                    return;
                }
                if(cv==""||cv==null){
                    layer.msg('请选择颜色', {shift: -1, time: 1200}, function () {
                    });
                    return;
                }
                if(pv==""||pv==null){
                    layer.msg('缺少购买参数', {shift: -1, time: 1200}, function () {
                    });
                    return;
                }
                if(jtype==""||jtype==null){
                    layer.msg('缺少MXC类型', {shift: -1, time: 1200}, function () {
                    });
                    return;
                }

                $.post("/Shop/Home/addCar",{p:pv,n:nv,s:sv,c:cv,'jtype':jtype},function(data){
                    layer.msg(data.info, {shift: -1, time: 1200}, function () {
                    });
                },"json");

            });

            /*收藏*/
            $("#like").click(function(){
                var i =  $("body").attr("data-id");
                $.post("/Shop/Home/like",{pid:i},function(data){
                    if(data.status=="1"){
                        $("#like i").html("&#xe601;");
                        layer.msg(data.info, {shift: -1, time: 1200}, function () {
                        });
                    }else if(data.status=="2"){
                        $("#like i").html("&#xe61c;");
                    }else{
                        layer.msg(data.info, {shift: -1, time: 1200}, function () {
                        });
                    }
                },"json");
            });


        });


        function showParams(){
            var is_exist = $("div[name='parameter']").children('div').text();
            if(!is_exist==""){
                var panduan = $("div[style='float: left; margin-right: 30px; border: 1px solid orange;']").children('div').text();
                if(panduan==""){
                    layer.msg("请选择产品参数");
                    return;
                }
                $("#params_show").show(0,function(){
                    var type = $("div[style='float: left; margin-right: 30px; border: 1px solid orange;']").children('div').text();
                    var price = $("div[style='float: left; margin-right: 30px; border: 1px solid orange;']").children('p').text();
                    var kucun = $("div[style='float: left; margin-right: 30px; border: 1px solid orange;']").children('span').text();
                    $('#show_price').text(price);
                    $('#show_type').text(type);
                    $('#show_kucun').text(kucun);
                });
            }
            $("#params_show").show();
            $("#details_show").hide();
        }

        function hideParams(){
            $("#params_show").hide();
            $("#details_show").show();
        }

        function showContent(){
            var ishide = $("#content_show").css('display');
            if(ishide == 'none'){
                $("#content_show").show();
                $("#details_show").hide()
            }else{
                $("#content_show").hide();
                $("#details_show").show();
            }
        }

        function hideContent(){
            var ishide = $("#content_show").css('display');
            if(ishide == 'block'){
                $("#content_show").hide();
                $("#details_show").show();
            }



        }

    </script>
</head>
<style>
    .selSize{
        border-color: #ff5000;
        color: #ff5000;
    }

    .selColor{
        border-color: #ff5000;
        color: #ff5000;
    }
	.icon_sortcar img{display:block; width:7.2vmin; vertical-align:middle; text-align:center; margin:0 auto;}
	.product_con{
		padding: 4vmin;
    clear: both;
    font-size: 3.6vmin;
    color: #444;
    line-height: 5vmin;
    margin-bottom: 6vmin;
    width: 90%;
    height: 100%;
    /* overflow: auto; */
    display: inline-block;
    word-wrap: break-word;
	line-height:7vmin;
		}
		.product_con pre{ word-wrap: break-word;
	line-height:7vmin;font-size: 3.6vmin;
    color: #444;
    line-height: 5vmin;}
	.product_con pre br{display:block; clear:both;}
	.product_con img{display:block; max-width:100%; clear:both; margin:0 auto;}
    .border{
        border: 1px solid orange;
    }
</style>
<body style="background: #f6f6f6 ; background-color:#fff;" data-id="{$product['id']}" >

<div class="head_bb">
    <p><a href="javascript:window.history.go(-1);"><img src="__IMG__/b1.png" alt=""></a></p>
   
</div>

<!-- banner  s-->
<div class="main_visual" style="height:361px">
    <div class="flicking_con" style="left: 48%;top:90%;">
        <?php $n = 0;?>
        <if condition="$product['pic1'] neq null">
            <a href="javascript:void(0)">{$n++}</a>
        </if>
        <if condition="$product['pic2'] neq null">
            <a href="javascript:void(0)">{$n++}</a>
        </if>
        <if condition="$product['pic3'] neq null">
            <a href="javascript:void(0)">{$n++}</a>
        </if>
        <if condition="$product['pic4'] neq null">
            <a href="javascript:void(0)">{$n++}</a>
        </if>
        <if condition="$product['pic5'] neq null">
            <a href="javascript:void(0)">{$n++}</a>
        </if>
    </div>
    <div class="main_image" style="height:361px">
        <ul>
            <if condition="$product['pic1'] neq null">
                <li><span class="img_3"><img src="{$product['pic1']}" alt=""></span></li>
            </if>
            <if condition="$product['pic2'] neq null">
                <li><span class="img_4"><img src="{$product['pic2']}" alt=""></span></li>
            </if>
            <if condition="$product['pic3'] neq null">
                <li><span class="img_1"><img src="{$product['pic3']}" alt=""></span></li>
            </if>
            <if condition="$product['pic4'] neq null">
                <li><span class="img_4"><img src="{$product['pic4']}" alt=""></span></li>
            </if>
            <if condition="$product['pic5'] neq null">
                <li><span class="img_1"><img src="{$product['pic5']}" alt=""></span></li>
            </if>
        </ul>
    </div>
</div>
<?php
$where['userid']=$product['shangjia'];
$swith = M('gerenshangpu')->where($where)->getField('shop_info');
if($swith==1){
    $dzid['userid']=$product['shangjia'];
    $dizhi=M('gerenshangpu')->where($dzid)->field('shop_address,userid,lng,lat,shop_phone')->find();
}
?>
<!-- 详情 -->
<div id="details_show" style="display: block;">
    <div class="detanr">
        <div class="detanr_bt">
            <h3 style="padding-top: 0">{$product['name']}</h3>
            <p class="jg" name="price">价格:¥ {$parameter.0.price}</p>
            
        </div>
        <p class="jg">&nbsp;<span style="font-size:13px; color:#555555;"><if condition="$swith eq 1">手机号码：</if>{$dizhi['shop_phone']}</span></p>
		
        <p>运费：<if condition="$product['freight'] eq 0">包邮<else/>{$product['freight']}</if><a href="http://api.map.baidu.com/marker?location={$dizhi['lat']},{$dizhi['lng']}&title={$dizhi['shop_address']}&content={$dizhi['shop_address']}&output=html&src=webapp.baidu.openAPIdemo"><span>{$dizhi['shop_address']}</span></a></p>
		
      <!--   <p>{$product['s_desc']|tercept}</p> -->
      <p><span name="kucun">库存{$parameter.0.kucun}</span></p>
       <p>已售{$sale_num}</p>
    </div>
     <!--分隔线-->
	<div class="d_line_1"></div>
    <div class="detail_dpinfo dd_height2" style="display:none;">
    	<?php
        $id['userid']=$product['shangjia'];
        $dianpu=M('gerenshangpu')->where($id)->field('shop_name,userid,lng,lat')->find();
        ?>


        	<img src="{$dianpu.shop_logo}" class="d_dlogo">
            <h2>{$dianpu.shop_name}</h2></a>
            
            <div class="d_dbtn2">
                <a href="{:U('dianpu/index',array('did'=>$dianpu['userid']))}">进店逛逛</a>
            </div>
        	
    </div>
    <div class="detanr">
		<div>型号选择：</div>
			<!-- 商品参数 -->
				<div style="float: left;margin-right: 30px;" name="parameter" id="first">
					<div>{$parameter.0.type}</div>
					<p>¥{$parameter.0.price}</p>
					<span>库存{$parameter.0.kucun}</span>
				</div>
			<volist name="parameter" id="vo" offset="1">
				<div style="float: left;margin-right: 30px;" name="parameter">
					<div>{$vo.type}</div>
					<p>¥{$vo.price}</p>
					<span>库存{$vo.kucun}</span>
				</div>
			</volist>
	</div>
	<div class="d_line_1"></div>
    <script type="text/javascript">
	$(document).ready(function(){
            $("#first").css('border',"1px solid orange");
        })
        $("div[name='parameter']").click(function(){
            $("div[name='parameter']").css("border","none");
            $(this).css("border","1px solid orange");
			var price = $(this).children('p').text();
            $("p[name='price']").text('价格:'+price);
            var kucun = $(this).children('span').text();
            $("span[name='kucun']").text(kucun);
		})
    </script>

    <!--商品详情-->
    <div class="spcs_nr">
        <h3>产品详情</h3>
        <div class="product_con">
			 <if condition="$product['shangjia'] eq 0">
			 {$product['content']|htmlspecialchars_decode}  
			 <else/>     
			<eq name="product['s_desc']" value=''>
			{$product['content']|htmlspecialchars_decode}
			<else/>
			{$product['s_desc']|htmlspecialchars_decode} 

			</eq>
			</if>
        </div>
    </div>
    
    
    <div class="d_line_14"></div>

    <div class="meter_foor">
        <div class="meter_foor_l">
            <ul>
               <li><a href="{:U('/Shop/Home/index')}" > <i class="iconfont">&#xe61c;</i><p>首页</p></a></li>
               
                <li><a href="{:U('Car/shopping')}"><i class="icon_sortcar"><img src="__IMG__/icon_sortcar.png" style="width:7.2vmin; height:7.2vmin"></i>
                <p>购物车</p></a></li>
            </ul>
        </div>
        <div class="meter_foor_r">
            <ul>
                <li><a  id="jia_car" class="">加入购物车</a></li>
                <li><a  class="ffl" onclick="showParams();">立即购买</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- 参数 -->
<div id="params_show" style="display: none; border-top:2px solid #e8e8e8;">
    <div class="visual_bt"  >
        <div class="visual_btl"><img src="{$product['pic']}" alt=""></div>
        <div class="visual_btr">
            <p id="show_type">请选择</p>
            <span><i class="iconfont" style="float: right;font-size: 7.5vmin;color: #686868;margin-top: -2vmin;" onclick="hideParams()">&#xe638;</i></span>
            <p class="btrjg" onclick="hideParams()" id="show_price">¥ {$product['price']} </p>
            <p id="show_kucun">库存{$product['stock']}件 </p>
        </div>
        <div style="clear: both;"></div>
    </div>

    <neq name="product['color_cate']" value="">
        <div class="demo-box">
            <h3>颜色分类</h3>
            <input type="hidden" value="{$colorList[0]}" class="yanse">
            <table class="demo-table">
                <tr>
                    <td>
                        <ul class="ui-choose" id="color_ul" data-str="">
                            <foreach name="colorList" item="color">
                                <li>{$color}</li>
                            </foreach>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </neq>

    <neq name="product['csize']" value="">
        <div class="demo-box">
            <h3>尺码</h3>
            <input type="hidden" value="{$sizeList[0]}" class="chima">
            <table class="demo-table">
                <tr>
                    <td>
                        <ul class="ui-choose" id="size_ul" data-str="">
                            <!-- class="selected " -->
                            <foreach name="sizeList" item="size">
                                <li>{$size}</li>
                            </foreach>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </neq>

    <div class="demo-box">
        <h3>购买数量</h3>
        <div id="content">
            <div class="aac">
                <span class="jian" style="cursor: pointer;">-</span>
                <input readonly class="num" name="num" id="bnum" type="text" value="1">
                <span class="jia" style="cursor: pointer;">+</span>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>

    <div style="height: 15vmin;"></div>
    <div class="size_foot">
        <a id="join_car" style="background: linear-gradient(to left, #ff9902, #ffc500);">加入购物车</a>
        <a id="buy_now" style="float: right;">立即购买</a>
    </div>
</div>
<style>
.spcs_nr img{width:100%; height:auto} 
table{max-width:100%;border: none;}
.spcs_nr h3{display:inline-block;  height:10vmin; line-height:10vmin; text-align:left; color:#333; padding:4vmin; font-size:3.8vmin; clear:both;}
.product_con{padding:4vmin; clear:both; font-size:3.4vmin; color:#444; line-height:5vmin; margin-bottom:6vmin;}
</style>
<div id="content_show" style="display: none;">
    <div class="spcs_nr">
        <h3 onclick="showContent();">产品详情</h3>
        <div>{$product['s_desc']|htmlspecialchars_decode}</div>
    </div>

    <div class="spcs_foor" onclick="hideContent();">
        完成
    </div>

</div>



</body>
</html>
 