<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
 <style>
  .sum {overflow:hidden}
  .sum div{font-size: 20px; float: left; padding: 10px;color: #333;}
</style>
</block>
<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <foreach name="_menu_tab['name']" item="tab_v" >
            <li class="text-muted">{$tab_v}</li>
            </foreach>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                        
                        <div class="form-group"></div>

                        <!-- 顶部工具栏按钮 -->
                        <div class="builder-toolbar">
                            <div class="row">
                                <!-- 工具栏按钮 -->
                                    <!-- <div class="col-xs-12 col-sm-8 button-list clearfix">
                                        <div class="form-group">
                                            <a title="新增" class="btn btn-primary-outline btn-pill" href="{:U('User/add')}">新增</a>&nbsp;
                                        </div>
                                    </div> -->

                                <!-- 搜索框 -->
                                <div class="col-xs-12 col-sm-12 clearfix">
                                        
                                </div>



                            </div>
                        </div>
                        

                        <style type="text/css">
                            tr,td{
                               margin: 0 !important;
                               padding: 5px 5px !important;
                            }
                        </style>
											
                        <!-- 数据列表 -->
                        <div class="builder-container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="builder-table">
                                        <div class="panel panel-default table-responsive">
                                            <table class="table table-bordered table-striped table-hover">
                                              <thead>
                                                <tr>
                                                    <th>UID</th>
                                                    <th>转账用户</th>
                                                    <th>获得转账用户</th>
                                                    <th>类型</th>
                                                    <th>数量</th>
                                                    <th>时间</th>
                                                </tr>
                                            </thead>
                                            <?php 

                                                $store=M('store');
                                             ?>
                                                <tbody>
                                                    <volist name="list" id="data">
                                                        <tr>
                                                        
                                                            <td>{$data['userid']}</td>
                                                            <td>
                                                                账号：{$data['account']} <br />
                                                                姓名：{$data['username']} <br />
                                                                手机：{$data['mobile']}
                                                            </td>
                                                            <td>
                                                                账号：{$data['payaccount']} <br />
                                                                姓名：{$data['payusername']} <br />
                                                                手机：{$data['paymobile']}
                                                            </td>
                                                            <td>
                                                                {$data.type}
                                                            </td>
                                                            <td>
                                                                {$data.get_nums}
                                                            </td>
                                                            <td>{$data['get_time']|date='Y-m-d H:i:s',###}</td>
                                                        </tr>
                                                    
                                                    </volist>

                                                    <empty name="list">
                                                        <tr class="builder-data-empty">
                                                            <td class="text-center empty-info" colspan="20">
                                                                <i class="fa fa-database"></i> 暂时没有数据<br>
                                                            </td>
                                                        </tr>
                                                    </empty>
                                                </tbody>
                                            </table>
                                        </div>

                                        <notempty name="table_data_page">
                                            <ul class="pagination">{$table_data_page}</ul>
                                        </notempty>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
    </div>                   
</div>
</block>

<block name="script">

    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
</block>